<!DOCTYPE html>
<html>
<head>
<title>TODO ADD LIST</title>
</head>

<body bgcolor="#E6E6FA">

<h1>TODO</h1>

<h3> NEW ITEM <h3>

<%= form_with(model: [ @user, @user.items.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

</body>
</html>
